@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ======================
   Color Variables Palette
   ====================== */
:root {
  --PRIMARY_BLACK: #000000;
  --PRIMARY_RED: #e50914;
  --PRIMARY_WHITE: #ffffff;

  --SECONDARY_RED_100: #eb3942;
  --SECONDARY_RED_200: #c11119;
  --SECONDARY_RED_300: #f50723;

  --SECONDARY_BLUE_100: #0071eb;
  --SECONDARY_BLUE_200: #448ef4;
  --SECONDARY_BLUE_300: #54b9c5;

  --SECONDARY_GREEN: #46d369;

  --GREY_GREY_10: #e5e5e5;
  --GREY_GREY_20: #dcdcdc;
  --GREY_GREY_25: #d2d2d2;
  --GREY_GREY_50: #bcbcbc;
  --GREY_GREY_100: #b3b3b3;
  --GREY_GREY_150: #979797;
  --GREY_GREY_200: #808080;
  --GREY_GREY_250: #777777;
  --GREY_GREY_300_T70: #6d6d6eb3;
  --GREY_GREY_300_T40: #6d6d6e66;
  --GREY_GREY_350: #545454;
  --GREY_GREY_400: #414141;
  --GREY_GREY_450: #404040;
  --GREY_GREY_500: #3a3a3a;
  --GREY_GREY_550: #363636;
  --GREY_GREY_600: #333333;
  --GREY_GREY_600_T60: #33333399;
  --GREY_GREY_650: #2f2f2f;
  --GREY_GREY_700: #2a2a2a;
  --GREY_GREY_750: #262626;
  --GREY_GREY_800: #232323;
  --GREY_GREY_850: #181818;
  --GREY_GREY_900: #141414;

  --TRANSPARENT_WHITE_15: #ffffff26;
  --TRANSPARENT_WHITE_20: #ffffff33;
  --TRANSPARENT_WHITE_30: #ffffff4d;
  --TRANSPARENT_WHITE_35: #ffffff59;
  --TRANSPARENT_WHITE_50: #ffffff80;
  --TRANSPARENT_WHITE_70: #ffffffb3;

  --TRANSPARENT_BLACK_30: #0000004d;
  --TRANSPARENT_BLACK_60: #00000099;
  --TRANSPARENT_BLACK_90: #000000e6;

  font-size: 16px;
}

/* ====================
   Utility Classes
   ==================== */
.primary-btn {
  background-color: var(--PRIMARY_RED);
  color: var(--PRIMARY_WHITE);
  font-size:14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 0.25rem;
  transition: ease 0.2s;
}
.primary-btn:hover {
  background-color: var(--SECONDARY_RED_200);
}

.secondary-btn {
  background-color: var(--PRIMARY_RED);
  color: var(--PRIMARY_WHITE);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  transition: ease 0.2s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}
.secondary-btn:hover {
  background-color: var(--SECONDARY_RED_200);
}

.play-btn {
  color: var(--PRIMARY_BLACK);
  background-color: var(--PRIMARY_WHITE);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 20px;
  gap: 8px;
}
.play-btn:hover {
  background-color: var(--GREY_GREY_10);
}
.info-btn {
  color: var(--PRIMARY_WHITE);
  background-color: var(--GREY_GREY_300_T70);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 20px;
  gap: 8px;
}
.info-btn:hover {
  background-color: var(--GREY_GREY_300_T40);
}
.sign-btn {
  padding: 16px;
  background: #e50914;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: ease 0.2s;
}
.sign-btn:hover {
  background-color: var(--SECONDARY_RED_200);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ====================
   Layout Classes
   ==================== */
.container {
  width: 80%;
  max-width: 1420px;
  margin: auto;
}

.lang-select {
  background-color: #00000000;
  color: var(--PRIMARY_WHITE);
  border-radius: 0.25rem;
  padding: 4px 32px 6px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* ====================
   Element Styles
   ==================== */
body {
  background-color: var(--PRIMARY_BLACK);
  color: var(--PRIMARY_WHITE);
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

ul {
  list-style: none;
}

p {
  color: var(--TRANSPARENT_WHITE_70);
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

input {
  background-color: #00000000;
  color: #ffffff;
  padding: 1rem;
  border: solid 1px var(--GREY_GREY_100);
  line-height: 1.5;
  border-radius: 0.25rem;
  font-size: 1rem;
}

section {
  padding-top: 4rem;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
/* img {
  width: 100%;
} */
.hidden {
  display: none;
}
.block {
  display: block;
}
