/* start banner section */
#home-banner {
  background-image: url(../images/banner/HomePage.png);
}
#landing-banner {
  background-image: url(../images/banner/LandingPage.png);
}

/* end banner section */

/* Start trending section */

.swiper-slide {
  display: flex;
  justify-content: center; /* centers image horizontally */
  align-items: center; /* centers image vertically */
}
.swiper-slide img {
  width: 200px;
  /* max-width: 65%; */
  height: auto;
  display: block;
  border-radius: 10px;
}

/* End trending section */

/* start footer */

