:root {
    --PRIMARY_BLACK: #000000;
    --PRIMARY_RED: #E50914;
    --PRIMARY_WHITE: #FFFFFF;
    --SECONDARY_RED_100: #EB3942;
    --SECONDARY_RED_200: #C11119;
    --SECONDARY_RED_300: #F50723;
    --SECONDARY_BLUE_100: #0071EB;
    --SECONDARY_BLUE_200: #448EF4;
    --SECONDARY_BLUE_300: #54B9C5;
    --SECONDARY_GREEN: #46D369;
    --GREY_GREY_10: #E5E5E5;
    --GREY_GREY_20: #DCDCDC;
    --GREY_GREY_25: #D2D2D2;
    --GREY_GREY_50: #BCBCBC;
    --GREY_GREY_100: #B3B3B3;
    --GREY_GREY_150: #979797;
    --GREY_GREY_200: #808080;
    --GREY_GREY_250: #777777;
    --GREY_GREY_300_T70: #6D6D6EB3;
    --GREY_GREY_300_T40: #6D6D6E66;
    --GREY_GREY_350: #545454;
    --GREY_GREY_400: #414141;
    --GREY_GREY_450: #404040;
    --GREY_GREY_500: #3A3A3A;
    --GREY_GREY_550: #363636;
    --GREY_GREY_600: #333333;
    --GREY_GREY_600_T60: #33333399;
    --GREY_GREY_650: #2F2F2F;
    --GREY_GREY_700: #2A2A2A;
    --GREY_GREY_750: #262626;
    --GREY_GREY_800: #232323;
    --GREY_GREY_850: #181818;
    --GREY_GREY_900: #141414;
    --TRANSPARENT_WHITE_15: #FFFFFF26;
    --TRANSPARENT_WHITE_20: #FFFFFF33;
    --TRANSPARENT_WHITE_30: #FFFFFF4D;
    --TRANSPARENT_WHITE_35: #FFFFFF59;
    --TRANSPARENT_WHITE_50: #FFFFFF80;
    --TRANSPARENT_WHITE_70: #FFFFFFB3;
    --TRANSPARENT_BLACK_30: #0000004D;
    --TRANSPARENT_BLACK_90: #000000E6;
    --TRANSPARENT_BLACK_60: #00000099;
}
.primary-btn{
    color: var(--primary-color);
    color: #fff;
    
}